<main>
    <section data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000">
        <div class="titulo">
            <h1 class="font-quando-b">Tudo que você precisa em <span>um só lugar</span></h1>
            <p class="font-quando">Recursos poderosos para simplificar sua gestão de clientes</p>
        </div>

        <div class="cards">
            @for (card of cards; track $index) {
                <div class="card" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000"><div class="fundo-img"><img src="img/icons/comunidade-icon.svg" alt=""></div>
            <h3 class="font-quando-b">Gestão completa</h3>
            <p class="font-quando">Cadastre edite e oganize todos os seus clientes em uma interface moderna</p></div>
            }
            
        </div>
    </section>
</main>