.header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    img{
        position: absolute;
        left: 50%;
        filter: invert(1) brightness(0);
        width: 40px;
        height: 40px;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .div-button{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .button-deletar{
        background-color: red;
        color: var(--branco-principal);
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease 0.4s;
        &:hover{
            background-color: rgb(204, 0, 0);
        }
    }
    .button-cancelar{
        background-color: var(--preto);
        color: var(--branco-principal);
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease 0.4s;
        &:hover{
            background-color: rgb(71, 70, 70);
        }
    }
}
