<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" [appendTo]="'body'" >
    <ng-template #header>
        <div class="header ">
            <img src="img/icons/delete-icon.svg" alt="">
        </div>
    </ng-template>
    <section>
        <h3 class="font-quando-b">Deseja excluir o cliente?</h3>
        <div class="div-button">
            <button class="button-deletar font-quando" (click)="confirmarDelecao()">Excluir</button>
            <button class="button-cancelar font-quando" (click)="fechar()">Cancelar</button>
        </div>
    </section>
</p-dialog>