section {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    article {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        max-width: 1200px;
        gap: 20px;

        .titulo-e-subtitulo {
            h1 {
                font-size: 2.4rem;
                line-height: normal;
            }
            p {
                color: #494848cc;
            }
        }


        .total-de-clientes {
            background-color: #f8fdff;
            padding: 20px;
            display: flex;
            gap: 20px;
            width: 300px;
            border-radius: 15px;
            align-items: center;
            border: 1px solid #7573732a;
            box-shadow: 5px 5px #cccccc83;

            img {
                width: 45px;
                height: 45px;
            }

            h2 {
                font-size: 2rem;
                line-height: normal;
            }

            h3 {
                color: #494848cc;
            }
        }
    }
}


@media (max-width: 1330px) {
    section {
        article {
            max-width: 900px;
        }
    }
}

@media (max-width: 1069px) {
    section {
        article {
            max-width: 850px;

            h1 {
                font-size: 2.2rem;
            }

            .total-de-clientes {
            padding: 16px;
            width: 300px;
            img {
                width: 40px;
                height: 40px;
            }

            h2 {
                font-size: 1.8rem;
            }

            h3 {
                color: #494848cc;
            }
        }
    }
}
}

@media (max-width: 991px) {
    section {
        article {
            max-width: 700px;
        }
    }
}

@media (max-width: 768px) {
    section {
        article {
            max-width: 600px;
.titulo-e-subtitulo{
            h1 {
                font-size: 2.1rem;
            }
        }
        }
    }
}

@media (max-width: 650px) {
    section {
        article {
            max-width: 490px;
        }
    }
}

@media (max-width: 550px) {
    section {
        article {
            max-width: 380px;
            .titulo-e-subtitulo{
            h1 {
                font-size: 1.6rem;
            }

            p {
                font-size: 0.7rem;
            }
        }
            .total-de-clientes {
            padding: 16px;
            width: 250px;
            padding: 10px;
            img {
                width: 35px;
                height: 35px;
            }

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 0.9rem;
            }
        }
        }
    }
}

@media (max-width: 400px) {
    section {
        article {
            max-width: 330px;
            .titulo-e-subtitulo{
            h1 {
                font-size: 1.6rem;
            }

            p {
                font-size: 0.6rem;
            }
        }
        }
    }
}

@media (max-width: 350px) {
    section {
        article {
            max-width: 310px;
        }
    }
}