<article>
    <h2>{{cliente?.nome}}</h2>
    <div class="titulo-empresa"><img src="img/icons/empresa-icon.svg" alt="">
        <p>{{cliente?.nomeDaEmpresa}}</p>
    </div>
    <aside div="div-campos-do-usuario">
        <div class="div-campo">
            <div class="fundo-img"><img src="img/icons/trabalho-icon.svg" alt=""></div>
            <p>{{cliente?.ramoDaEmpresa}}</p>
        </div>
        <div class="div-campo">
            <div class="fundo-img"><img src="img/icons/email-icon.svg" alt=""></div>
            <p>{{cliente?.email}}</p>
        </div>
        <div class="div-campo">
            <div class="fundo-img"><img src="img/icons/telefone-icon.svg" alt=""></div>
            <p>{{cliente?.telefone}}</p>
        </div>
        <div class="div-campo">
            <div class="fundo-img"><img src="img/icons/localizacao-icon.svg" alt=""></div>
            <p>{{cliente?.cidade}}</p>
        </div>
        <div class="div-button">
            <button class="button-editar" (click)="editar.emit(cliente)"><img src="img/icons/edit-icon.svg"
                    alt="">Editar</button>
            <button class="button-excluir" (click)="excluir()"><img src="img/icons/delete-icon.svg" alt="">Excluir</button>
        </div>
    </aside>
</article>