<header class="bg-branco-1">
    <article>
        <div data-aos="fade-right" data-aos-duration="1000">
            <a href="/"> <img src="img/logo.png" class="logo-img" alt=""></a>
        </div>
        <div class="grupo-button font-quando" data-aos="fade-left" data-aos-duration="1000">
            <!-- <button class="font-quando" (click)="NavegarLogin()" >Entrar</button> -->
            <app-botao-azul [texto]="textoBotao" [rota]="rotaBotao" [icone]="localizacaoIcone" (clicado)="sair()"/>
        </div>
    </article>
</header>