<header class="bg-branco-1">
    <article>
        <div data-aos="fade-right" data-aos-duration="1000">
            <img src="img/logo.png" class="logo-img" alt="">
        </div>
        <div class="grupo-button font-quando" data-aos="fade-left" data-aos-duration="1000">
            <button class="font-quando">Entrar</button>
            <button class="font-quando bg-azul button-comecar" >Começar Grátis <img src="img/icons/arrow-right-icon.svg" alt=""></button>
        </div>
    </article>
</header>