<main class="container_pai bg-branco-1">
    <section>
        <article class="font-quando">
            <button class="font-quando bg-branco-escurecido" data-aos="zoom-in-down" data-aos-duration="3000"> <img
                    class="raio_icon" src="img/icons/estrela-icon.svg"> Sistema Completo de Gestão</button>
            <div class="div_centro_custom" data-aos="zoom-in-down" data-aos-duration="2000">
                <h1>Gerencie seus</h1>
                <h1><span>clientes</span> com</h1>
                <h1>facilidade</h1>
            </div>
            <div class="" data-aos="zoom-in-down" data-aos-duration="1000">
                <h3>Plataforma completa e intuitiva para cadastrar, organizar e acompanhar todos os seus clientes em um
                    só lugar. Simples, rápido e eficiente.</h3>
            </div>
            <div class="grupo_button">
                <button class="font-quando">Começar agora <img src="img/icons/arrow-right-icon.svg" alt=""></button>
                <button class="font-quando button-custom"><a href="https://github.com/LucasAlberto0" target="_blank"
                        rel="noopener">Ver Criador</a></button>
            </div>
        </article>
        <aside>
            <div class="box-div-pai">
                <div class="box-branco-escurecido" data-aos="fade-down" data-aos-duration="2000">
                    <div class="box-img-e-p">
                        <div class="div-img"><img src="img/icons/comunidade-icon.svg" alt=""></div>
                        <div>
                            <p class="p-principal font-quando-b">478 Clientes</p>
                            <p class="p-secundario font-quando">Cadastrados este mês</p>
                        </div>
                    </div>
                    <div class="div-img-check">
                        <img src="img/icons/check-icon.svg" alt="">
                    </div>
                </div>
                <div class="box-branco-escurecido" data-aos="fade-right" data-aos-duration="2000">
                    <div class="box-img-e-p">
                        <div class="div-img"><img src="img/icons/grafico-icon.svg" alt=""></div>
                        <div>
                            <p class="p-principal font-quando-b">+45% Crescimento </p>
                            <p class="p-secundario font-quando">Comparado ao mês anterior</p>
                        </div>
                    </div>
                    <div class="div-img-check">
                        <img src="img/icons/check-icon.svg" alt="">
                    </div>
                </div>
                <div class="box-branco-escurecido" data-aos="fade-up" data-aos-duration="2000">
                    <div class="box-img-e-p">
                        <div class="div-img"><img src="img/icons/raio-icon.svg" alt=""></div>
                        <div>
                            <p class="p-principal font-quando-b">Sincronização Rápida</p>
                            <p class="p-secundario font-quando">Dados sempre atualizados</p>
                        </div>
                    </div>
                    <div class="div-img-check">
                        <img src="img/icons/check-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </aside>
    </section>
</main>