<section>
    <article data-aos="zoom-in" data-aos-duration="1500">
        <div class="div-titulo-da-tabela">
            <h2 class="font-quando-b">Lista de Clientes</h2>
            <app-botao-azul (clicado)="abrirModal()" icone="img/icons/plus-icon.svg" texto="Criar Cliente"/>
        </div>
        <div class="div-cards">
            @for (clientes of clientes; track $index) {
                <app-card [cliente]="clientes" (editar)="abrirModal(clientes)"/>
            }      
        </div>
    </article>
</section>