<section>
    <article data-aos="zoom-in" data-aos-duration="1000">
        <div class="titulo-e-subtitulo">
            <h1 class="font-quando-b">Gerenciador</h1>
            <p class="font-quando">Gerencie todos os gerentes da plataforma</p>
        </div>
        <div class="div-informacoes-conta">
            
            <div class="informacoes-conta font-quando">
                <div class="espacamento-informacoes">
                <img src="img/icons/gerente-icon.svg" alt="">
                
                <div>
                    <h3>Conta de Administracão</h3>
                    
                        <h2>{{conta}}</h2>
                </div></div>
            </div>
        <div class="total-de-clientes font-quando">
            <img src="img/icons/usuarios-icon.svg" alt="">
            <div>
                <h3>Total de Gerentes</h3>
                    <h2>{{totalGerentes}}</h2>
            </div>
        </div>
    </div>
    </article>
</section>
