<p-toast />
<form [formGroup]="formCliente" (ngSubmit)="salvar()" class=" form-container">
    <div>
        <h2 class="font-quando-b" mat-dialog-title>
            {{modoEdicao ? 'Editar Cliente' : 'Criar Cliente'}}
        </h2>
        <p class="font-quando">
            {{modoEdicao ? 'Atualize os dados abaixo' : 'Preencha os dados do cliente'}}
        </p>
    </div>

    <input matInput formControlName="nome" required maxlength="20" placeholder="Digite o Nome do cliente " />

    <input matInput formControlName="nomeDaEmpresa" required placeholder="Digite o nome da empresa" />

    <input matInput formControlName="email" required maxlength="40" placeholder="Digite o e-mail" />

    <input matInput formControlName="ramoDaEmpresa" required maxlength="40" placeholder="Digite o ramo da empresa" />

    <p-inputMask formControlName="telefone" mask="(99) 99999-9999" placeholder="(11) 98888-8888"
        class="input-telefone"></p-inputMask>

    <input matInput formControlName="cidade" required placeholder="Digite a cidade da empresa" />

    <select id="status" name="status" required>
        <option value="" disabled selected hidden>Escolha um status</option>
        <option>Ativo</option>
        <option>Em Negociação</option>
        <option>Inativo</option>
    </select>


    <div class="botoes">
        <button mat-flat-button color="primary" type="submit" class="button-salvar">
            {{ modoEdicao ? 'Salvar Alterações' : 'Cadastrar'}}
        </button>
        <button mat-stroked-button color="warn" type="button" class="button-cancelar" (click)="cancelar()">
            Cancelar
        </button>
    </div>
</form>