footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--fundo-form-login-cadastro);
}

section{
        max-width: 1200px;
        width: 100%;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 75px;
            height: 50px;
        }
        p{
            font-size: 0.6rem;
            color: var(--subtitulo);
        }
    }

@media(max-width: 1300px) {
    section {
        max-width: 900px;
    }

}

@media(max-width: 1069px) {
    section {
        max-width: 850px;
    }
}

@media(max-width: 991px) {
    section {
        max-width: 700px;
    }
}

@media(max-width: 768px) {
    section {
        max-width: 600px;
    }
}

@media(max-width: 650px) {
    section {
        max-width: 490px;
        padding: 15px 0px;
        img{
            width: 70px;
            height: 40px;
        }
        p{
            font-size: 0.5rem;
            color: var(--subtitulo);
        }
    }
}

@media(max-width: 550px) {
    section {
        max-width: 390px;
        gap: 28px;
    }
}

@media(max-width: 400px) {
    section {
        max-width: 350px;
    }
}

@media(max-width: 350px) {
    section {
        max-width: 320px;
        padding: 12px 0px;
        img{
            width: 65px;
            height: 35px;
        }
        p{
            font-size: 0.4rem;
            color: var(--subtitulo);
        }
    }
}

