<main>
    <p-toast/>
    <form [formGroup]="loginForm" class="font-quando" data-aos="fade-down" data-aos-duration="1000">
        <a href="/"><img src="img/logo.png" alt=""></a>
        <h1 class="font-quando-b">Login</h1>
        <div class="inputs">
            <p-floatlabel variant="in">
                <input formControlName="email" pInputText id="in_label" autocomplete="off" />
                <label for="in_label">Email</label>
                <div></div>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <p-password formControlName="senha" [toggleMask]="true" [feedback]="false" class="input-custom" />
                <label for="over_label">Senha</label>
            </p-floatlabel>
        </div>
        <p-button [loading]="loading" (onClick)="load()" (click)="login()" label="Entrar" class="botao-login"/>
        <a href="/cadastro">Ainda não possui conta?</a>
    </form>
</main>