<main>
    <form class="font-quando" data-aos="fade-down" data-aos-duration="1000">
        <img src="img/logo.png" alt="">
        <h1 class="font-quando-b">Login</h1>
        <div class="inputs">
            <p-floatlabel variant="in">
                <input pInputText id="in_label" autocomplete="off" />
                <label for="in_label">Email</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <p-password [toggleMask]="true" [feedback]="false" class="input-custom" />
                <label for="over_label">Senha</label>
            </p-floatlabel>
        </div>
        <p-button label="Entrar" />
        <a href="">Ainda não possui conta?</a>
    </form>
</main>