main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fundo-login-cadastro);

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 30px 40px;
        background-color: var(--fundo-form-login-cadastro);
        box-shadow: 8px 8px 25px var(--box-shadow-borrado);
        border-radius: 10px;
        max-width: 500px;
        width: 100%;

        h1 {
            color: var(--preto);
        }

        img {
            width: 100px;
            height: 70px;
        }

        .inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        a {
            color: var(--preto);
            font-size: 0.8rem;
        }
    }
}

.botao-login {
    display: block;
    width: 100%;
}

.button-desabilitado{
    pointer-events: none;
}

.botao-login ::ng-deep .p-button {
    width: 100%;
    background-color: var(--azul-principal);
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.8rem;
}

p-inputtext,
p-password {
    display: block;
    width: 100%;
}



p-inputtext ::ng-deep .p-inputtext:focus,
p-password ::ng-deep .p-inputtext:focus {
    border-color: var(--azul-principal);
    box-shadow: 0 0 0 2px var(--fundo-form-login-cadastro);
}


p-floatlabel {
    display: block;
    width: 100%;
}

p-floatlabel ::ng-deep input.p-inputtext,
p-floatlabel ::ng-deep .p-password-input {
    width: 100% !important;
    box-sizing: border-box;
}

p-floatlabel ::ng-deep input.p-inputtext:focus,
p-password ::ng-deep .p-inputtext:focus {
    border-color: var(--azul-principal);
    box-shadow: 0 0 0 2px var(--fundo-login-cadastro);
}

@media(max-width: 490px) {
    main {
        height: 100dvh;

        form {
            padding: 20px 20px;
            max-width: 360px;
        }
    }
}

@media(max-width: 360px) {
    main {
        form {
            padding: 15px 15px;
            max-width: 310px;
        }
    }
}

@media(max-width: 340px) {
    main {
        form {
            padding: 15px 10px;
            max-width: 310px;
        }
    }
}