main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fundo-login-cadastro);

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 30px 40px;
        background-color: var(--fundo-form-login-cadastro);
        border: 1px solid var(--cinza-border-box);
        border-radius: 10px;
        max-width: 500px;
        width: 100%;

        h1 {
            color: var(--preto);
        }

        ul {
            padding-left: 15px;
            font-size: 0.8rem;
        }

        img {
            width: 120px;
            height: 90px;
        }

        .inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        p-floatlabel {
            width: 100%;

            input {
                width: 100%;
            }
        }

        a {
            color: var(--preto);
            font-size: 0.8rem;
        }
    }
}


.botao-cadastro {
    display: block;
    width: 100%;
}

.botao-cadastro ::ng-deep .p-button {
    width: 100%;
    background-color: var(--azul-principal);
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.8rem;
}

p-inputtext,
p-password {
    display: block;
    width: 100%;
}

p-inputtext ::ng-deep .p-inputtext,
p-password ::ng-deep .p-inputtext {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--cinza-border-box);
    background-color: var(--branco-fundo);
    font-size: 0.8rem;
    transition: border-color 0.3s;
}

p-inputtext ::ng-deep .p-inputtext:focus,
p-password ::ng-deep .p-inputtext:focus {
    border-color: var(--azul-principal);
    box-shadow: 0 0 0 2px var(--fundo-login-cadastro);
}

p-floatlabel {
    display: block;
    width: 100%;
}

p-floatlabel ::ng-deep input.p-inputtext,
p-floatlabel ::ng-deep .p-password-input {
    width: 100% !important;
    box-sizing: border-box;
}

p-floatlabel ::ng-deep input.p-inputtext,
p-password ::ng-deep .p-inputtext {
    border-radius: 8px;
    border: 1px solid var(--cinza-border-box);
    background-color: var(--branco-principal);
    font-size: 1rem;
    transition: border-color 0.3s;
}

p-floatlabel ::ng-deep input.p-inputtext:focus,
p-password ::ng-deep .p-inputtext:focus {
    border-color: var(--azul-principal);
    box-shadow: 0 0 0 2px var(--fundo-login-cadastro);
}

@media(max-width: 490px) {
    main {
        height: 100dvh;

        form {
            padding: 20px 20px;
            max-width: 360px;
        }
    }
}

@media(max-width: 360px) {
    main {
        form {
            padding: 15px 15px;
            max-width: 310px;
        }
    }
}

@media(max-width: 340px) {
    main {
        height: auto;
        form {
            margin: 40px 0px;
            padding: 15px 10px;
            max-width: 310px;
        }
    }
}

@media (min-width: 1024px) and (max-height: 770px) {
    main {
        height: auto;

        form {
            margin: 40px 0px;
        }
    }
}