<p-toast />
<form [formGroup]="formCliente" (ngSubmit)="salvar()" class=" form-container" autocomplete="off">
    <div>
        <h2 class="font-quando-b" mat-dialog-title>
            {{modoEdicao ? 'Editar Cliente' : 'Criar Cliente'}}
        </h2>
        <p class="font-quando">
            {{modoEdicao ? 'Atualize os dados abaixo' : 'Preencha os dados do cliente'}}
        </p>
    </div>

    <input matInput formControlName="nome" required maxlength="20" placeholder="Digite o Nome do cliente " type="text" autocomplete="off" pattern="[A-Za-z\s]*"/>

    <input matInput formControlName="nomeDaEmpresa" required placeholder="Digite o nome da empresa" />

    <select id="ramoDaEmpresa" name="ramoDaEmpresa" required formControlName="ramoDaEmpresa">
        <option value="" disabled selected hidden>Escolha o ramo da sua empresa</option>
        <option>Comércio</option>
        <option>Tecnologia</option>
        <option>Alimentação</option>
        <option>Saúde</option>
        <option>Indústria</option>
        <option>Transporte</option>
        <option>Educação</option>
        <option>Marketing</option>
        <option>Construção</option>
        <option>Porto</option>
        <option>Entretenimento</option>
        <option>Estética</option>
        <option>Outros</option>
    </select>

    <input matInput formControlName="email" required maxlength="40" placeholder="Digite o e-mail" />

    <p-inputMask formControlName="telefone" mask="(99) 99999-9999" placeholder="(11) 98888-8888"
        class="input-telefone"></p-inputMask>

    <input matInput formControlName="cidade" required placeholder="Cidade do cliente" type="text" />

    <select id="status" name="status" required formControlName="status">
        <option value="" disabled selected hidden>Escolha um status</option>
        <option>Ativo</option>
        <option>Em Negociação</option>
        <option>Inativo</option>
    </select>


    <div class="botoes">
        <button mat-flat-button color="primary" type="submit" class="button-salvar" [ngClass]="{'button-desabilitado' : loading}">
            {{ loading
            ? (modoEdicao ? 'Salvando alterações...' : 'Cadastrando...')
            : (modoEdicao ? 'Salvar Alterações' : 'Cadastrar') }}
        </button>
        <button mat-stroked-button color="warn" type="button" class="button-cancelar" (click)="cancelar()">
            Cancelar
        </button>
    </div>
</form>