article {
    padding: 30px 20px;
    border: 1px solid var(--cinza-border-box);
    border-top: 4px solid var(--azul-principal);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 350px;
    transition: all ease 0.4s !important;
    cursor: pointer;

    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all ease 0.3s;
        line-height: normal;
    }

    &:hover {
        box-shadow: 5px 5px var(--box-shadow-animation);
        transform: translateY(-5px) !important;

        h2 {
            color: var(--azul-principal);
        }
    }

    .titulo-empresa {
        color: var(--subtitulo);
        display: flex;
        align-items: center;
        gap: 3px;

        h2 {
            transition: all ease 0.3s;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    .ramo-e-status{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
        .ramo{
            background-color: rgba(199, 193, 193, 0.164);
            color: var(--azul-principal);
            border-radius: 15px;
            padding: 3px 6px;
        }
        .status-ativo{
            background-color: #E8F9EF;
            color: #16A354;
            border-radius: 10px;
            padding: 3px 6px;
        }
        .status-negociacao{
            background-color: #FDF7E6;
            color: #CA8A37;
            border-radius: 10px;
            padding: 3px 6px;
        }
        .status-inativo{
            background-color: #FDECEC;
            color: #DC2966;
            border-radius: 10px;
            padding: 3px 6px;
        }
    }


    aside {
        display: flex;
        flex-direction: column;
        gap: 10px;


        .div-campo {
            display: flex;
            align-items: center;
            gap: 7px;
            color: var(--subtitulo);

            .fundo-img {
                padding: 5px;
                background-color: rgba(199, 193, 193, 0.164);
                border-radius: 10px;
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .div-button {
            display: flex;
            gap: 6px;
            border-top: 1px solid var(--cinza-border-box);
            padding-top: 14px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                width: 100%;
                background-color: transparent;
                padding: 5px;
                border-radius: 7px;
                border: 1px solid var(--cinza-border-box);
                transition: all ease 0.4s;
                cursor: pointer;

                &:hover img {
                    filter: invert(0) brightness(1);
                }

                img {
                    filter: invert(1) brightness(0);
                    width: 20px;
                    height: 20px;
                    transition: all ease 0.3s;
                }
            }

            .button-excluir {
                &:hover {
                    background-color: var(--vermelho);
                    color: var(--branco-fundo);
                }
            }

            .button-editar {
                &:hover {
                    background-color: var(--azul-principal);
                    color: var(--branco-fundo);
                }
            }

        }
    }
}

.card-animacao {
    opacity: 0;
    margin-top: -20px;
    animation: entrada 1s ease-out forwards;
}

@keyframes entrada {
    to {
        margin-top: 0; 
        opacity: 1;
    }
}

@media (max-width: 400px) {
    article {
        min-width: 280px;
    }
}