section{
    color: var(--branco-principal);
    display: flex;
    justify-content: center;
    max-height: 600px;
    article{
        border-radius: 20px;
        padding: 30px 20px;
        margin-bottom: 30px;
        overflow-y: auto;
        max-height: 600px;
        max-width: 1200px;
        width: 100%;
        background-color: var(--branco-fundo);
        border: 1px solid var(--cinza-border-box);
        box-shadow: 5px 5px var(--box-shadow-animation);
        .div-titulo-da-tabela{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }
        .div-cards{
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            color: var(--preto);
            flex-wrap: wrap;
        }
    }
    h2{
        color: var(--preto);
    }
}


@media(max-width: 1300px) {
    section {
        article {
            max-width: 900px;
        }
    }
}

@media(max-width: 1069px) {
    section {
        article {
            max-width: 850px;
        }
    }
}

@media(max-width: 991px) {
    section {
        article {
            max-width: 700px;
        }
    }
}

@media(max-width: 768px) {
    section {
        article {
            max-width: 600px;
        }
    }
}

@media(max-width: 650px) {
    section {
        article {
            max-width: 490px;
        }
    }
}

@media(max-width: 550px){
    section{
        article{
            max-width: 390px;
        }
    }
}

@media(max-width: 400px) {
    section {
        article {
            max-width: 330px;
        }
    }
}

@media(max-width: 350px) {
    section {
        article {
            max-width: 310px;
        }
    }}